.global-sidebar {
    position: fixed;
    display: block;
    height: 100%;
    background-color: @color-dark-blue;
    color: #fff;
    text-align: center;
    z-index: 1000;
    transition: 0.5s ease;
    transition-property: margin;
    margin-left: -90px;
    will-change: margin;

    &.opened {
        width: 90px;
        margin-left: 0;
    }

    a {
        display: block;
        padding: 10px 5px;
        color: #f5f5f5;
        border-bottom: 1px solid fade(#fff, 10%);
        transition: background-color 0.1s ease-in-out;

        &:hover {
            text-decoration: none;
            background-color: @color-light-blue;
        }

        .sidebar-icon-title {
            display: block;
            margin-top: 6px;
            font-family: Cabin, sans-serif;
            font-size: 0.8em;
            text-transform: uppercase;
            letter-spacing: 0.03px;
        }
    }

    li:hover {
        .sidebar-secondary-menu {
            visibility: visible;
            opacity: 1;
            transition-delay: 0s;
        }
    }
}

.sidebar-secondary-menu {
    position: fixed;
    top: 0;
    left: 90px;
    z-index: 1050;
    padding-top: 50px;
    width: 150px;
    height: 100%;
    background-color: @color-muted-blue;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.1s, opacity 0.1s linear;

    padding-left: 0;
    list-style: none;

    a {
        display: block;
        padding: 10px 15px;
        color: #fff;
        text-transform: uppercase;
        font-family: Cabin;
        border-bottom: 1px solid fade(#fff, 10%);

        &:hover {
            text-decoration: none;
            background-color: @color-dark-blue;
        }
    }
}

.global-sidebar.opened + .main-container {
    margin-left: 90px;
}