body, label, .checkbox label {
    font-weight: 300;
}

html {
    position: relative;
    height: 100%;
}

body {
    height: 100%;
    padding-top: 50px;
}

.navbar-toggle {
    float: right;
    margin-left: 15px;
}

.main-container{
    margin-top: 20px;
}