.navbar-brand-style {
    border-bottom: 0;

    .navbar-brand {
        width: 90px;
        padding-top: 8px;
        border-bottom: 1px solid fade(#fff, 10%);

        &:hover {
            background-color: @color-dark-blue;
        }

        img {
            width: 100%;
        }
    }
}

.global-sidebar.opened ~ .navbar-brand-style {
    .navbar-brand {
        background-color: @color-dark-blue;
    }
}

.breadcrumb-top-panel {
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 999;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;

    .breadcrumb {
        margin: 0;
        padding-left: 100px;
    }
}