@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

@color-light-blue: #13b9ed;
@color-lighter-blue: #1bc6fa;
@color-muted-blue: #395971;

@color-gray: #f7f8fa;

@color-dark-blue: #072033;
@color-red: #ff0000;
@color-white: #FFFFFF;
